
{% extends "layout_account.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style type="text/css">

.login-nav {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    color: #0b0c0c;
    margin-top: 28px;
    margin-bottom: 10px;
}

.login-nav__list {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
    float: right;
}

.login-nav__list-item {
    position: relative;
    margin-bottom: 5px;
    padding-right: 5px;
    font-size: 16px;
    padding-left: 0;
    float: left;
}
  </style>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Manage account</h1>
        <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:alert('Not in prototype!');">Billing details</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="/doa/enrolment/act-as-agent">Delegation of authority</a></li>
          <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:alert('Not in prototype!');">Inspection addresses</a></li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <h2 class="govuk-heading-s">For other DEFRA account options</h2>
        <ul class="govuk-list govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <li><a class="govuk-link govuk-link--no-visited-state" href="javascript:alert('Not in prototype!');">Access your DEFRA account</a></li>
        </ul>
  </div>

        </div>

{% endblock %}
