
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
      Darling Building Services Ltd
      </span>
        <h1 class="govuk-heading-xl">Manage your trade partners</h1>


        <h2 class="govuk-heading-l">Agents acting on your behalf</h2>

  {% if agentadded %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Organisation name</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Exports UK</td>
      <td class="govuk-table__cell"><a href="/doa/agents/view-permissions">Manage permissions</a><br/><a href="/doa/agents/remove">Remove association</a></td>
    </tr>
  </tbody>
</table>
<p class="govuk-body"><a href="javascript:alert('Not in prototype!');">Add an agent</a></p>
 {% else %}
<p class="govuk-body">You have not yet added any agents.</p>
<form action="/doa/agents/add" method="POST">
  <input type="hidden" name="name" value=""/>
<button class="govuk-button" data-module="govuk-button">
Add an agent
</button>
</form>
{% endif %}


  {% if agent %}
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Importers and exporters you represent</h2>
        <div class="govuk-inset-text">
  <p class="govuk-body">Your agent code is <strong>187263</strong>.</p>
  <p class="govuk-body">Your clients will need to use this code to authorise your organisation to act as their agent.</p>
</div>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Organisation name</th>
              <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if activetraders %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">London Trading Company</td>
              <td class="govuk-table__cell"><a href="/doa/traders/">View permissions</a><br/><a href="/doa/traders/remove">Remove association</a></td>
            </tr>
            {% endif %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Exports 123</td>
              <td class="govuk-table__cell"><a href="javascript:alert('Not in prototype!')">View permissions</a><br/><a href="javascript:alert('Not in prototype!')">Remove association</a></td>
            </tr>
          </tbody>
        </table>
{% if reviewmanually %}
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Requests for representation</h2>

        {% if activerequests %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Organisation name</th>
              <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mega Importers</td>
              <td class="govuk-table__cell"><a href="/doa/requests/review">Review request</a></td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <p class="govuk-body">You have no requests to represent an organisation. </p>
        {% endif %}
{% endif %}
        <p><a href="/doa/enrolment/edit-auto-accept">Manage request preferences</a></p>
{% endif %}

      </div>




    </div>
  </div>

{% endblock %}
