
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/doa/dashboard/index">
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want to automatically accept delegation requests from importers and exporters?
      </h1>
    </legend>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="auto-accept-delegation-yes" name="auto-accept-delegation" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="auto-accept-delegation-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="auto-accept-delegation-no" name="auto-accept-delegation" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="auto-accept-delegation-no">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
<input type="hidden" name="name" value=""/>

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
</form>
    </div>
  </div>

{% endblock %}
