
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
      Darling Building Services Ltd
      </span>
        <h1 class="govuk-heading-xl">Add an agent</h1>


<form method="POST" action="/doa-radio/agents/add-confirmation">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="agent-code">
              Enter the agent's 6 digit code
            </label>
          </h1>
          <div id="agent-code-hint" class="govuk-hint">
            Your agent should provide a 6 digit code to you.
          </div>
          <input class="govuk-input govuk-input--width-10" id="agent-code" name="agent-code" type="text" spellcheck="false" aria-describedby="agent-code-hint" pattern="[0-9]*" inputmode="numeric">
        </div>

        <input type="hidden" name="name" value=""/>

                  <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>
</form>
</fieldset>

    </div>
  </div>

{% endblock %}
