
{% extends "layout_index.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Trade Platform Prototype
      </h1>

      <h2 class="govuk-heading-m">Delegation of authority</h2>
        <p class="govuk-body"><a href="/doa-alt/index">V1. Prototype - select agent by name</a></p>
        <p class="govuk-body"><a href="/doa/index">V2. Prototype - select agent by code - checkbox select entity</a></p>
        <p class="govuk-body"><a href="/doa-radio/index">V3. Prototype - select agent by autocomplete list - radio select entity</a></p>



    </div>
  </div>

{% endblock %}
